body{
    background: #202020;
}


#cabecera{
    width: 100%;
    height: 625px;

    background-image: url(../img/fondo.jpg);
    background-size: cover;

    position: relative;

    color: white;
}

/* No se como hice el degradado :V link de donde saque el codigo: https://www.youtube.com/watch?v=cbbEoQL9W-g */
#cabecera::before{
    content: '';
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgb(0, 0, 0 , 0.4);
}


#cuerpo{
    display: flex;
    flex-direction: column;
    height: 625px;
}

#cards{
    margin-bottom: 35px;
    /* border: 1px solid #E0E0E0; */

    padding: 15px 10px 15px 10px;

    color: white;
    background: #242424;
}

footer{
    width: 100%;
    height: 300px;

    background: rosybrown;
}

h1, h2, h3, h4, h5{
    color: white;
}


p{
    font-size: 13px;
}

#boton_header{
    border-radius: 50px;
}